// Colors
$primaryColor: #1d546a;
$secondaryColor: #2587ce;
$tertiaryColor: #808080;
$lightTxtColor: #efefef;

// Color changes for bootstrap
$primary: $primaryColor;
@import "node_modules/bootstrap/scss/bootstrap";


// * {
//     font-family: Arial, Helvetica, sans-serif;
// }


blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-left: 10px solid #ccc;
    p {
        margin: 0px;
    }
}
